/*margin-top: 0px;
}*/
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #333;
}
#fm-section {
    position: relative;
    width: 900px;
    min-height: 144px;
    margin: 0 auto;
    z-index: 50;
}
#div-dl{
	width: 900px;
    height: 146px;
    margin: 0 auto;
    z-index: 50;
    position: relative;
}
#denglu{
	height: 35px;
    width: 250px;
    background-color: #E5E6E6;
    float: right;
    position: relative;
    top: -146px;
}
#denglu > a{
	text-decoration: none;
    font-size: 12px;
    margin-left: 18px;
    padding-right: 10px;
    position: relative;
    top: 5px;
}
#denglu-a{
     border-right: 1px dotted;/*虚线*/   
}
#logo{
	background: #fff;
    display: block;
    z-index: 40;
    width: 335px;
    padding-bottom: 38px;
    overflow: hidden;
    zoom: 1;
}
#logo > a{
	display: block;
    margin: 54px 0 0 45px;
    height: 54px;
    width: 130px;
    color: transparent;
    line-height: 100em;
    background: no-repeat 0 0;
}
#tupian{
	display: block;
    height: 54px;
    width: 130px;
    overflow: hidden;
    color: transparent;
    line-height: 100em;
    background: no-repeat 0 0;
}
#fm-bg{
    position: absolute;
    z-index: -2;
    left: 0;
    top: 169px;
    width: 100%;
    height: 278px;
    background: #e1e8e5;
    }
#fm-bg_li{
	font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    zoom: 1;
    list-style-type: none;/*去点*/
    background-color: #9dd6c5;
    margin-left: 230px;
    margin-top: 20px;
}
#fm-bg_li1{
	font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    zoom: 1;
    list-style-type: none;/*去点*/
    margin-left: 230px;
    margin-top: 20px;
    background-color:rgba(198,211,205,0.5);
}
#fm-bg_li11{
	font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    zoom: 1;
    list-style-type: none;
    margin-left: -40px;
    background-color: rgba(198,211,205,0.5);
    color: #333;
}
#fm-bg_li111{
	font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    zoom: 1;
    list-style-type: none;
    margin-top: 20px;
    background-color: rgba(198,211,205,0.5);
    color: #333;
}
#fm-bg > ul > li > a{
    text-decoration: none;
    margin-left: 23px;
    color: #333;

}
#fm-yy{
	position: absolute;
    right: 232px;
    top: 90px;
    z-index: 1;
   /* border: 1px solid black;*/
}
#fm-yin{
	width: 510px;
    height: 245px;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgba(198,211,205,0.5);
}
#fm-yin_fm{
	width: 245px;
    height: 245px;
    /*border: 1px solid black;*/
}
#fm-yin_fm > img{
	width: 245px;
    height: 245px;
}
#fm-yin_yy{
	float: right;
    width: 263px;
    height: 245px;
    margin-top: -245px;
    /*border: 1px solid black;*/
}
#fm-yin_yy > span{
	float: left;
    margin-left: 20px;
    margin-top: 8px;
}
#fm-yin_yy-div{
    margin-top: 32px;
    margin-left: 15px;
}
#fm-tp{
	float: right;
    margin-right: 20px;
    margin-top: 55px;
}
.span{
	margin-top: 15px;
}
#fm-yin_yy > div > audio{
    width: 228px;
    margin-top: 30px;
}
.hr{
	width: 150px;
    margin-left: 68px;
    margin-top: -8px;
    color: #888;
}
#fm-bg > div{
    margin-left: 270px;
    margin-top: 30px;
    font-size: 13px;
    color: #888;
}
#qita{
    position: relative;
    top: 25px;
}
.hr1{
	width: 150px;
    color: #888;
    margin-left: 68px;
    margin-top: 16px;
}
#audio_fs{
    width: 150px;
    height: 60px;
    font-size: 13px; 
    margin-top: 30px;
}
#audio_fs1{
	border: 1px solid #5b9;
    width: 100px;
    height: 26px;
    font-size: 13px;
    float: right;
    margin-top: -60px;
}
#audio_fs2{
    width: 210px;
    font-size: 13px;
    float: right;
    margin-top: -20px;
    margin-right: -130px;
}
#input{
    width: 0px;
    height: 2px;
    background-color: blue;
    cursor: pointer;
}
#jdt{
	width: 190px;
    height: 2px;
    float: left;
    margin-top: 40px;
    background-color: #aaaaaa;
    cursor: pointer;
    margin-left: -30px;
}
#div2{
	width: 90px;
	height: 25px;
	/*border:1px solid black;*/
	/*margin-top: -1px;
    margin-left: 31px;*/
    float: right;
    margin-right: 40px;

}
#audio_fs2 > div{
	float: right;

}
#fs-a{
	text-decoration: none;
    color: #888;
}
#fs-a1{
	width: 100px;
    height: 26px;
    text-decoration: none;
    color: #5b9;    
}
#audio-span{
    color: #888;
    cursor: pointer;
}
#fm-tp1{
	margin-right: 30px;
}
/*#fm-tp2{
	margin-left: -37px;
    display: none;
    position: relative;
    left: -30px;
}*/
#fm-tp3{
	margin-right: 30px;
}
#fm_xiazai{
	width: 160px;
    height: 38px;
    background-color: #1fc178;
    border-radius: 3px;
    margin-left: 950px;
    margin-top: 320px;
}
#fm_xiazai-div{
	/*color: white;*/
	font-size: 14px;
	width: 160;
	height: 36px;
	text-align: center;
}
#fm_xiazai-div > a{
	color: white;
	font-size: 13px;
	width: 160;
	height: 36px;
	position: relative;
    top: 6px;
}
/*第二部分*/
#fm-sidebar{
    width: 674px;
    height: 1501px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid black;
  }
  .fm-side-inner{
  	/*overflow: hidden;*/
    width: 674px;
    background: #fff;
    z-index: 998;
    /*border: 1px solid black;*/
  }
  .fm-side-cont{
  	width: 674px;
    height: 1501px;
    z-index: 997;
    border: 1px solid black;
  }
  .fm-side-none{
  	width: 674px;
    height: 75px;
  }
  .fm-side-hd{
  	width: 574px;
    height: 95px;
    margin:0 auto;
  }
  .fm-side-search{
  	/*border: 0 none;*/
    height: 23px;
    line-height: 23px;
    width: 215px;
    outline: none;
    float: right;
    padding: 4px 10px 0;
    margin-top: 6px;
    float: right;
  }
  #fm-side-main{
  	width: 674px;
  	height: 1332px;
  }
  .fm-show-off{
  	background: #eff5f2;
    height: 278px;
    overflow: hidden;
    margin-bottom: 44px;
    border: 1px solid black;
  }
  .fm-side-list{
  	width: 550px;
  	height: 48px;
  	margin: 0 auto;
  }
  .fm-side-list li{
  	float: left;
  	color: #999;
  	margin-right: 6px;
    font-size: 14px;
  }
  .fm-side-list a{
  	color: #999;
  }
  .fm-side-list a:hover{
  	color: #58c299;
  }
  .fm-sideList-wrapper{
  	width: 554px;
  	height: 930px;
  	margin: 0 auto;
  	margin-top: 32px;
  }
  .title{
  	margin-top: 19px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #4e4444;
  }
  .clearFix{
  	width: 554px;
  	height: 350px;
  }
  .clearFix li{
    float: left;
    width: 236px;
    height: 45px;
    overflow: hidden;
    margin: 0 40px 25px 0;
  }
  .cover-wrap{
  	position: relative;
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    cursor: pointer;

  }
  .cover{
  	height: 45px;
    width: 45px;
    border-radius: 45px;
  }
  .cont{
  	margin-top: 3px;
    float: left;
    width: 179px;
    height: 39px;
  }
  .shortList-title{
  	font-size: 14px;
  	height: 20px;
    line-height: 20px;
  }
  .shortList-title a{
  	color: black;
  }
  .meta{
  	width: 179;
  	height: 18px;
  }
  .song-num{
  	padding-right: 5px;
  	font-size: 12px;
    color: #999;
  }
  .meta a{
  	color: #999;
  	font-size: 12px;
  }
  .meta a:hover{
  	color: #58c299;
  }
  .last{
  	width: 554px;
  	height: 70px;
  }
  .fm-ctrline{
  	position: absolute;
    left: 0;
    top: 0;
    height: 666px;
    width: 26px;
    z-index: 50;
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1);
  }
  #fm-sidebar-ctrl{
  	width: 16px;
    height: 85px;
    position: absolute;
    top: 312px;
    left: 8px;
  }
  #click1{
  	width: 16px;
    height: 85px;
  }
  .fm-sidectrl{
  	 height: 666px;
     width: 26px;
     position: absolute;
     top: 0;
     right: 0;
  }
   #fm-side-ctrl{
  	width: 16px;
    height: 85px;
    position: absolute;
    top: 312px;
    left: 8px;
  }
  #cli{
  	width: 16px;
    height: 85px;
  }
  #show-img{
  	width: 290px;
  	height: 276px;
  	float: left;
  	border: 1px solid black;
  }
  .intro{
    float: right;
    width: 329px;
    height: 276px;
    padding-right: 20px;
    margin-left: 29px;
    border: 1px solid black;
  }
  .show-pagenav{
  	list-style-type: none;
  	height: 15px;
    margin: 30px 0 26px;
  }
  .show-pagenav li{
    color: #888;
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: #D4E1DC;
    text-align: center;
    margin-right: 7px;
  }
  .show-pagenav li a{
  	 color: #888;
  }
 .show-pagenav li:hover{
  	 background-color: #9DD6C5;
  }
  #ss-intros{
  	width: 329px;
  	height: 186px;
  	border: 1px solid black;
  }
  .ss-intro{
  	width: 290px;
  	height: 184px;
  	border: 1px solid black;
  	padding-left: 38px;
  }
  .ss-intro h3{
  	font-size: 18px;
    margin-top: 0;
    margin-bottom: 21px;
  }
  .ss-intro a{
  	color: #666;
  }
  .contant{
  	width: 290px;
  	height: 57px;
  }
  .contant p{
  	margin: 0;
    font-size: 12px;
    margin-bottom: 3px;
    color: #666;
  }
  .contant a{
  	font-size: 12px;
  }
  .contant a:hover{
  	color: #58c299;
  }
  .size{
  	font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  .contant span{
  	font-size: 12px;
    color: #666;
  }